@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');

:root {
    --light-main: #e1dddc;
    --light-second: #c3c2c8;
    --white: #fff;
}

.light {
    --bg-body: var(--light-body);
    --bg-main: var(--light-main);
    --bg-second: var(--light-second);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lobster Two', cursive;
    color: #544c4a;
}

header {
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    padding: 20px 100px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    z-index: 99;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 30px rgb(55, 51, 51);
    background-color: #DEDAD9;
    height: 80px;
}

.navigation a {
    text-decoration: none;
    font-size: 1.5rem;
    margin-left: 40px;
    cursor: pointer;
    font-weight: 500;
}

.logo {
    font-size: 2rem;
    cursor: pointer;
    font-weight: 900;
    color: aliceblue;
    width: 90px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(wallpaperflare.com_wallpaper\ \(1\).jpg) no-repeat;
    background-size: cover;
}

.navigation a:hover {
    color: rgb(145, 145, 145);
}

.btn.submit {
    width: 100px;
    height: 50px;
    border-radius: 6px;
    border: none;
    box-shadow: 0 0 30px rgb(0, 0, 0);
    cursor: pointer;
    transition: .7s ease;
    font-size: 1.5rem;
    font-weight: 700;
    color: #544c4a;
    margin: 20px;
}

.btn:hover {
    background-color: #544c4a;
    color: #ffffff;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon .log{
    font-size: 30px;
    position: relative;
    top: 6px;
}


input {
    width: 80%;
    height: 50px;
    border-radius: 6px;
    border: none;
    box-shadow: 0 0 30px rgb(0, 0, 0);
    outline: none;
    padding: 0 15px;
    font-size: 1.5rem;
    font-weight: 500;
    color: #544c4a;
    margin: 20px;
}

select {

    width: 80%;
    height: 50px;
    border-radius: 6px;
    border: none;
    box-shadow: 0 0 30px rgb(0, 0, 0);
    outline: none;
    padding: 0 15px;
    font-size: 1.5rem;
    font-weight: 500;
    color: #544c4a;
    margin: 20px;

}
label{
    width: 80%;
    height: 50px;
    border-radius:6px;
    border: none;
    box-shadow:0 0 30px  rgb(0,0,0);
    outline: none;
    padding: 0 15px;
    font-size: 1.5rem;
    font-weight: 500;
    color: #544c4a;
    margin: 20px;
}

.wrapper {
    position: relative;
    width: 400px;
    height: 450px;
    background: transparent;
    border: 2px solid rgb(255, 255, 255, .5);
    backdrop-filter: blur(10px);
    border-radius: 5%;
    box-shadow: 0 0 30px rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: height .2s ease;
}

.wrapper.active {
    margin-top: 90px;
    height: 600px;
}

.wrapper .form-box.login {
    transform: translateX(0);
    transition: transform .18s ease;
}

.wrapper .form-box.register {
    display: none;
}

.wrapper.active .form-box.register {
    transform: translateX(0);
    transition: transform .18s ease;
    display: block;
}

.wrapper.active .form-box.login {
    transform: translateX(-400px);
    transition: none;
    display: none;
}

.wrapper .form-box.register {
    top: 10px;
    position: absolute;
    transform: translateX(400px);
}

.form-box h1{
    text-align: center;
    font-size: 2em;
    color: #544c4a;
}

.form-box #log{
    text-align: center;
    font-size: 16;
    color: #544c4a;
    /* width: 80%;
    height: 50px;
    border-radius: 6px;
    border: none;
    box-shadow: 0 0 30px rgb(0, 0, 0);
    outline: none;
    padding: 0 15px;
    font-size: 1.5rem;
    font-weight: 500;
    color: #544c4a;
    margin: 20px;*/
} 

.register {
    margin: 10px;
}

.reg a {
    color: #544c4a;
    font-weight: 600;
}

/* responsive */
@media only screen and (max-width:800px) {
    .navigation a {
        font-size: 20px;
        margin: 10px;
    }

    .icon {
        font-size: 25px;
        position: relative;
        top: 6px;
    }

    h1 {
        font-size: 30px;
    }

    .person {
        width: 18px;
        height: 18px;
    }

    .title.about {
        display: none;
    }

    .title.contact {
        display: none;
    }

    .demo-appointment-booking {
        margin-top: 50px;
    }

}