*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    padding: 20px 100px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    z-index: 99;
}
.navigation a{
    text-decoration: none;
    font-size: 1.5rem;
    margin-left: 40px;
    color: rgb(255, 255, 255);
    cursor:pointer;
    font-weight: 500;
}
.logo{
    font-size: 2rem;
    cursor:pointer;
    font-weight: 900;
    color: aliceblue;
}
.person{
    position: relative;
    top: 5px;
    transition: .5s;   
}
.navigation a:hover{
    color: rgb(145, 145, 145);
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(leg.jpg) no-repeat;
    background-size: cover;
}
.wrapper{
    position: relative;
    width: 400px;
    height:450px;
    background: transparent;
    border: 2px solid rgb(255,255,255,.5);
    backdrop-filter: blur(10px);
    border-radius: 5%;
    box-shadow:0 0 30px  rgb(0,0,0) ;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: height .2s ease;
}
.wrapper.active{
    height: 550px;
}
.wrapper .form-box.login{
    transform: translateX(0);
    transition: transform .18s ease;
}
.wrapper .form-box.register{
   display: none;
}
.wrapper.active .form-box.register{
    transform: translateX(0);
    transition: transform .18s ease;
    display: block;
}
.wrapper.active .form-box.login{
    transform: translateX(-400px);
    transition: none;
    display: none;
}
.form-box h2{
    text-align: center;
    font-size: 2em;
    color: rgb(11, 100, 11);
}
.input-box{
    width: 100%;
    height: 50px;
    position: relative;
    border-bottom: 2px solid black;
    margin: 30px 0;
}
.input-box label{
    position: absolute;
    left: 5px;
    top: 50%;
    font-size: 1.2em;
    color: rgb(11, 100, 11);
    font-weight: 500;
    pointer-events: none;
    transform: translateY(-50%);
    transition: .5s;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: rgb(11, 100, 11);
    font-weight: 500;
    padding: 0 35px 0 5px;
}
.input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: rgb(11, 100, 11);
    line-height: 57px;
}
.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;
}
.forgot{
   color: rgb(11, 100, 11); 
   position: relative;
    top: -10px;
    right: -55%;
    text-decoration: none;
}
.forgot:hover{
    border-bottom: 2px solid rgb(11, 100, 11);
}
.btn{
    width: 100%;
    margin: 10px;
    height: 45px;
    background-color: rgb(11, 100, 11);
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: 500;
    color: white;
    transition: .7s;
}
.register{
    margin: 10px;
}
.reg a{
    color: rgb(11, 100, 11);
    font-weight: 600;
}
.log a{
    color: rgb(11, 100, 11);
    font-weight: 600;
}
.btn:hover{
    background-color: white;
    color: rgb(11, 100, 11);
}
.wrapper .form-box.register{
    top: 10px;
    position: absolute;
    transform: translateX(400px);
}