@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Lobster Two', cursive;
}
header{
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    padding: 20px 100px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    z-index: 99;
    backdrop-filter: blur(10px);
    box-shadow:0 0 30px  rgb(55, 51, 51);
    background-color: #DEDAD9;
    height: 80px;
}
.navigation a{
    text-decoration: none;
    font-size: 1.5rem;
    margin-left: 40px;
    color:  #544c4a;
    cursor:pointer;
    font-weight: 500;
}
.person{
    position: relative;
    top: 5px;
    transition: .5s;   
}
.navigation a:hover{
    color: rgb(145, 145, 145);
    border-bottom: 1px solid rgb(145, 145, 145);
}
body{
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(wallpaperflare.com_wallpaper\ \(1\).jpg) no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}
.container{
    position: relative;
    background: transparent;
    backdrop-filter: blur(10px);
    box-shadow:0 0 30px  rgb(0,0,0);
}
.container.first{
    width: 850px;
    height:520px;
    border: 2px solid rgb(255,255,255,.5);
    border-radius: 1%;
    text-align: center;
    padding: 20px 20px;
}
.container.first h3{
    font-size: 30px;
}
.container.second{
    position: absolute;
    width: 320px;
    height:410px;
    background-color: #544c4a;
    right: 12%;
    text-align: center;
    font-size: 1.7rem;
    padding: 45px 5px 5px;
    color: #DEDAD9;
    border-radius: 3%;
}
.container.con{
    position: absolute;
    width: 370px;
    height:410px;
    background-color: #544c4a;
    left: 10%;
    text-align: center;
    font-size: 1.7rem;
    padding: 20px;
    color: #DEDAD9;
    border-radius: 3%;
}
.container.con h3{
    margin: 0px 0px 25px;
}
.container.con p{
    font-size: 25px;
    margin-top: 10px;
    text-align: left;
}
.logo{
    width: 90px;
    cursor: pointer;
}
.btn.book{
    width: 80%;
    height: 50px;
    border-radius:6px;
    border: none;
    box-shadow:0 0 30px  rgb(0,0,0);
    position: absolute;
    bottom: 45px;
    right: 25px;
    cursor: pointer;
    transition: .7s ease;
    font-size: 1.5rem;
    font-weight: 700;
    color: #544c4a;
}
.btn:hover{
    background-color: #9E8C74;
    color: #DEDAD9;
}
.facility{
    display: flex;
    justify-content: center;
    align-items: center;
}
.fac{
    margin: 20px 20px 20px;
    width: 250px;
    height:300px;
    text-align: center;
    font-size: 1.7rem;
    padding: 45px 5px 5px;
    border: 2px solid rgb(255,255,255,.5);
    border-radius: 3%;
    background: transparent;
    backdrop-filter: blur(10px);
    box-shadow:0 0 30px  rgb(0,0,0);
    justify-content: center;
    align-items: center;
}
.fac .content{
    width: 100%;
    cursor: pointer;
}
.ion{
    font-size: 2.3em;
    padding: 20px 20px 20px;
}
.facility h3{
    margin-top: 25px;
}
#about{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 40px 40px 40px;
}
.container.third{
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    margin:auto;
    margin-top: 30px;
    width: 45%;
    height:fit-content;
    border: 2px solid rgb(255,255,255,.5);
    font-size: 22px;
    border-radius: 1%;
    padding: 10px 10px 10px;
}
 h1{
    text-align: center;
    font-size: 3rem;
    margin: 90px 20px 40px;
    align-items: center;
    color: #3e2721;
}
.contact h1{
        position: relative;
        top: 90px;
}
.about-main{
   display: flex;
}
.about .abt{
    width: 35%;
    position: relative;
    left: 13%;
    top: 20px;
    filter: grayscale(70%);
    border-radius: 0%;
    box-shadow:0 0 30px  rgb(0,0,0);
}
.contactus{
    margin-bottom: 100px;
}
/* .input-box label{
    position: absolute;
    left: 5px;
    top: 50%;
    font-size: 1.2em;
    color:#544c4a;
    font-weight: 500;
    pointer-events: none;
    transform: translateY(-50%);
    transition: .5s;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #544c4a;
    font-weight: 500;
    padding: 0 35px 0 5px;
}
.input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #544c4a;
    line-height: 57px;
} */