@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');
:root {
    --light-main: #e1dddc;
    --light-second: #c3c2c8;
    --white: #fff;
}
.light {
    --bg-body: var(--light-body);
    --bg-main: var(--light-main);
    --bg-second: var(--light-second);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lobster Two', cursive;
    color: #544c4a;
}
header{
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    padding: 20px 100px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    z-index: 99;
    backdrop-filter: blur(10px);
    box-shadow:0 0 30px  rgb(55, 51, 51);
    background-color: #DEDAD9;
    height: 80px;
}
a{
    text-decoration: none;
    font-size: 1.5rem;
    margin-left: 40px;
    cursor:pointer;
    font-weight: 500;
}
.logo{
    font-size: 2rem;
    cursor:pointer;
    font-weight: 900;
    color: aliceblue;
}
.person{
    position: relative;
    top: 5px;
    transition: .5s;   
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(wallpaperflare.com_wallpaper\ \(1\).jpg) no-repeat;
    background-size: cover;
}
.logo{
    width: 90px;
    cursor: pointer;
}

.navigation a:hover{
    color: rgb(145, 145, 145);
}
body {
    margin: 0;
    padding: 0;
}
body,
html {
    height: 100%;
}

 .md-calendar-booking .mbsc-calendar-text {
    text-align: center;
}
.md-calendar-booking .booking-datetime .mbsc-datepicker-tab-calendar {
    flex: 1 1 0;
    min-width: 300px;
}
.md-calendar-booking .mbsc-timegrid-item {
    margin-top: 1.5em;
}
 .md-calendar-booking .mbsc-timegrid-container {
    top: 30px;
}
.demo-appointment-booking{
   align-items: center;
   justify-content: center;
   position: relative;
   width: 80%;
   top: 20%;
   text-align: center;
}
.btn.submit{
    width: 50%;
    height: 50px;
    border-radius:6px;
    border: none;
    box-shadow:0 0 30px  rgb(0,0,0);
    cursor: pointer;
    transition: .7s ease;
    font-size: 1.5rem;
    font-weight: 700;
    color: #007AFF;
    margin: 20px; 
}
.btn:hover{
    background-color: #007AFF;
    color: #ffffff;
}
form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.icon{
    font-size: 30px;
    position: relative;
    top: 6px;
    }
/* responsive */
@media only screen and (max-width:800px) {
    .navigation a{
        font-size:20px;
        margin: 10px;
    }
    .icon{
        font-size: 25px;
        position: relative;
        top: 6px;
        }
    h1{
        font-size: 30px;
    }
    .person{
       width: 18px;
         height: 18px;
    }
    .title.about{
        display: none;
    }
    .title.contact{
        display: none;
    }
    .demo-appointment-booking{
        margin-top: 50px;
    }
    
}