@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');
:root {
    --light-main: #e1dddc;
    --light-second: #c3c2c8;
    --white: #fff;
}
.light {
    --bg-body: var(--light-body);
    --bg-main: var(--light-main);
    --bg-second: var(--light-second);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lobster Two', cursive;
    color: #544c4a;
}
header{
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    padding: 20px 100px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    z-index: 99;
}
.navigation a{
    text-decoration: none;
    font-size: 1.5rem;
    margin-left: 40px;
    cursor:pointer;
    font-weight: 500;
}
.logo{
    font-size: 2rem;
    cursor:pointer;
    font-weight: 900;
    color: aliceblue;
}
.person{
    position: relative;
    top: 5px;
    transition: .5s;   
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(wallpaperflare.com_wallpaper\ \(1\).jpg) no-repeat;
    background-size: cover;
}
.wrapper{
    position: relative;
    width: 425px;
    height:540px;
    background: transparent;
    border: 2px solid rgb(255,255,255,.5);
    border-radius: 5%;
    box-shadow:0 0 30px  rgb(0,0,0) ;
    justify-content: center;
    align-items: center;
    transition: height .2s ease;
    padding: 10px 0px 0px;
    backdrop-filter: blur(10px);
}
.wrapper.active{
    height: 550px;
    width: 90%;
    border-radius: 1%;
}
.wrapper .form-box.cal{
    transform: translateX(0);
    transition: transform .18s ease;
}
.wrapper .form-box.date{
   display: none;
}
.wrapper.active .form-box.date{
    transform: translateX(0);
    transition: transform .18s ease;
    display: block;
}
.wrapper.active .form-box.cal{
    transform: translateX(-400px);
    transition: none;
    display: none;
}
.form-box h2{
    text-align: center;
    font-size: 2em;
}
#btn{
    width: 400px;
    margin: 10px;
    height: 45px;
    background-color: #544c4a;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: 500;
    color: white;
    transition: .7s;
}
.wrapper .form-box.date{
    top: 10px;
    position: absolute;
    transform: translateX(400px);
}
.logo{
    width: 90px;
    cursor: pointer;
}
.calendar{
    height: 430px;
    width: max-content ;
    background-color: transparent; 
    border-radius: 30px;
    padding: 20px;
    position: relative;
    overflow: hidden;
}
.calendar-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    font-weight: 600;
    color: #544c4a;
    padding: 10px;
}
.calendar-body {
    padding: 10px;
}
.calendar-week-day {
    height: 40px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-weight: 600;
}
.calendar-week-day div {
    display: grid;
    place-items: center;
    color: #544c4a;
    cursor: pointer;
}
.calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 2px;
}
.calendar-days div {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    position: relative;
    cursor: pointer;
    animation: to-top 1s forwards;
    color: #000000;
}
.calendar-days div span {
    position: absolute;
}
.calendar-days div.curr-date span {
    display: none;
}
.year-picker {
    display: flex;
    align-items: center;
}
.year-change {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin: 0 10px;
    cursor: pointer;
}
.calendar-footer {
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.toggle {
    display: flex;
}
.toggle span {
    margin-right: 10px;
    color: var(--color-txt);
}
.month-list {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--bg-main);
    padding: 20px;
    grid-template-columns: repeat(3, auto);
    gap: 5px;
    display: grid;
    transform: scale(1.5);
    visibility: hidden;
    pointer-events: none;
}
.month-list.show {
    transform: scale(1);
    visibility: visible;
    pointer-events: visible;
    transition: all 0.2s ease-in-out;
}
.month-list > div {
    display: grid;
    place-items: center;
}
.month-list > div > div {
    width: 100%;
    padding: 5px 20px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    color: var(--color-txt);
}
#year{
    cursor: pointer;
}
@keyframes to-top {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
.month-picker{
    cursor: pointer;
}
/* hover */
#btn:hover{
    background-color: white;
    color: #544c4a;
}
pre:hover{
    color: rgb(145, 145, 145);
}
.month-picker:hover {
    color: rgb(145, 145, 145);
}
.year-change:hover {
    color: rgb(145, 145, 145);
}
.month-list > div > div:hover {
    color: rgb(145, 145, 145);
}
.calendar-days div.curr-date,
.calendar-days div.curr-date:hover {
    background-color: #544c4a;
    color: var(--white);
    border-radius: 50%;
}
.calendar-days div:hover span {
    transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
}
.calendar-days div:hover{
    color: rgb(145, 145, 145);
}
.navigation a:hover{
    color: rgb(145, 145, 145);
}